* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.section1 {
    width: 100%;
    height: 500px;
    background-image: url("IMG/about.jpg");
    background-size: cover;
}

.section1::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header {
    height: 100px;
    transition: 0.4s;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.header img {
    height: 50px;
    position: relative;
    left: 40px;
    top: 30px;
    transition: 0.4s;
}

.header ul {
    list-style-type: none;
    width: 85%;
    float: right;
    position: relative;
    top: 30px;
    transition: 0.4s;
}

.header li {
    display: inline-block;
    color: #fff;
    position: relative;
    left: 49%;
    margin-left: 6%;
}

.header li a {
    text-decoration: none;
    color: #c8c9c9;
    font-size: 0.9em;
}

.header li a:hover {
    color: white;
}

#dt {
    padding-bottom: 32px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
    transition: 0.4s;
}

.drop {
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
    padding: 8px;
}

#dw {
    color: #949090;
}

#go {
    color: #949090;
    border-top: 4px solid rgb(0, 1, 29);
    padding-top: 25px;
}

#d2 {
    color: #949090;
    padding-bottom: 25px;
}

#go:hover {color: rgb(9, 0, 94);}
#dw:hover {color: rgb(9, 0, 94);}
#d2:hover {color: rgb(9, 0, 94);}

.dropdown:hover .dropdown-content {display: block;}

.main {
    padding-top: 0.1px;
}

.section1 h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 100;
    position: relative;
    top: 170px;
    color: white;
}

.section2 {
    height: 1050px;
}

.grid-cont {
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 32%;
    grid-template-rows: 670px;
    grid-gap: 10px;
    padding: 20px 10px;
}

.section2 h1 {
    text-align: center;
    width: 100%;
    font-size: 2em;
}

.section2 h2 {
    text-align: center;
    width: 60%;
    font-weight: 500;
    font-size: 1em;
    color: #999999;
    line-height: 2;
    margin: 0 auto;
}



.grid-item img {
    position: relative;
    top: 30px;
    display: block;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.grid-item h1 {
    position: relative;
    top: 25px;
    text-align: center;
    font-size: 1.8em;
}

#lin {
    position: relative;
    top: 15px;
    width: 15%;
    margin: 0 auto;
    border-top: 1.5px solid #292929;
}

#info {
    position: relative;
    top: 40px;
    left: 20px;
    text-align: left;
    width: 90%;
}

footer {
    width: 100%;
    height: 400px;
    background-color: rgb(0, 1, 29);
}

.foot {
    position: relative;
    top: 60px;
    display: grid;
    width: 85%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 200px;
    grid-gap: 5%;
    padding: 20px 10px;
    margin: 0 auto;
}

.f-item h1 {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    width: 85%;
    position: relative;
    left: 40px;
}

.f-item ul {
    position: relative;
    top: 10px;
    list-style-type: none;
}

.f-item li {
    position: relative;
    color: #999999;
    margin-bottom: 15px;

}

.f-item li a {
    text-decoration: none;
    color: #999999;
}

.f-item li a:hover {
    color: #fff;
}

#line {
    position: relative;
    top: 100px;
    width: 90%;
    margin: 0 auto;
    border-top: 0.1px solid #999999;
}

#copy {
    position: relative;
    top: 100px;
    color: #999;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

@media (max-width:990px) and (min-width:630px) {
    
    .header ul {
        width: 70%;
    }
    
    .header li {
        left: 30%;
    }

}

@media (max-width:780px) and (min-width:621px) {
    .section2 {
        height: 1500px;
    
    }
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */

    .header ul {
        width: 98%;
        right: 30px;
    }

    .header li {
        top: 0px;
        margin-left: 9%;
        left: 0%;
    }

    .header img {
        display: none;
    }

    .section1 h1 {
        top: 170px;
        font-size: 3em;
    }

    .section2 h2 {
        width: 90%;        
    }

    .section2 {
        height: 2800px;
    }
    
    .grid-cont {
        display: grid;
        width: 95%;
        grid-template-columns: 100%;
        grid-template-rows: 800px 800px 800px;
        grid-gap: 0px;
    }

    #info {
        text-align: center;
        left: 10px;
    }

    footer {
        height: 800px;
    }

    .foot {
        top: 60px;
        grid-template-columns: 100%;
        grid-template-rows: 150px;
        grid-gap: 50px;
        padding: 20px 10px;
        margin: 0 auto;
    }

    #line {
        top: 100px;
    }
    

    #copy {
        margin: auto;
        width: 90%;
        top: 110px;
    }
  }
